* {
    box-sizing: border-box;
}

h1 {
    grid-area: hdr;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5vmin;
    color: white;
}

.boggling {
    font-family: 'Permanent Marker', cursive;
    color: black;
    margin: 0;
    display: inline-block;
    padding: 0;
    margin-top: -10vmin;
}

#display-small {
    display: none;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vmin 1fr 1fr;
    grid-template-areas:
        "hdr hdr"
        "brd sid"
        "dtd dtd";
    background-color: rgb(246, 139, 59);
    font-family: 'helvetica', sans-serif;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 43vmin;
}

li {
    list-style: none;
    /* probably put this in a flex box with wrap */
}

main {
    grid-area: brd;
    margin: 0 20px;
    background-color: white;
    padding: 1.5vmin;
    border-radius: 1vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 12vmin);
    grid-template-rows: repeat(4, 12vmin);
    gap: 0vmin; 
}

.letters {
    width: 12vmin;
    height: 12vmin;
    gap: 0vmin;
    border: 2px solid rgb(50, 50, 50);
    border-radius: 7%;
    line-height: 12vmin;
    text-align: center;
    vertical-align: center;
    font-size: 8vmin;
    font-weight: 500;
}

#sidebar {
    grid-area: sid;
    background-color: white;
    margin-right: 20px;
    padding: 1vmin;
    border-radius: 1vmin;
}

#timer{
    background-color: rgb(67, 159, 231);
    font-family: 'Luckiest Guy', cursive;
    font-size: 3.6vmin;
    color: white;
    padding: 2vmin 1vmin 1vmin;
    border-radius: 1vmin;
    text-align: center;
    margin: 1vmin;
}

#score {
    background-color: rgb(67, 159, 231);
    font-family: 'Luckiest Guy', cursive;
    color: white;
    border-radius: 1vmin;
    font-size: 3.6vmin;
    padding: 2vmin 1vmin 1vmin;
    text-align: center;
    margin: 1vmin;
}

#found-words {
    margin-top: 3vmin;
    margin-left: 4vmin;
    padding: 0;
}

#data-display {
    grid-area: dtd;
    margin: 0 20px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

#submit {
    width: 48vmin;
    height: 6vmin;
    border: solid rgb(67, 159, 231);
    background-color: rgb(67, 159, 231);
    color: white;
    border-radius: 0.8vmin;
    margin-top: 12px;
    padding-top: 1vmin;
    font-size: 3.7vmin;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

#replay {
    width: 24vmin;
    height: 6vmin;
    background-color: rgb(67, 159, 231);
    color: white;
    border-radius: 0.8vmin;
    margin-top: 0px;
    padding-top: 1vmin;
    font-size: 3.7vmin;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

#current-word {
    font-size: 6vmin;
    font-weight: 500;
    height: 8vmin;
    width: 48vmin;
    text-align: center;
    margin-top: 12px;
    background-color: white;
    color: black;
    border: solid black;
    border-radius: 0.8vmin;
}

#message {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.2vmin;
    font-weight: 400;
    margin: 0;
    margin-top: 8px;
    height: 6.4vmin;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
        "hdr"
        "brd" 
        "sid"
        "dtd";
    }

    #display-large {
        display: none;
    }

    #display-small {
        display: inline-block;
        font-size: 6.4vmin;
    }

    #board {
        display: grid;
        grid-template-columns: repeat(4, 22vmin);
        grid-template-rows: repeat(4, 22vmin);
        gap: 0vmin; 
    }
    
    .letters {
        width: 22vmin;
        height: 22vmin;
        gap: 0vmin;
        border: 2px solid rgb(50, 50, 50);
        border-radius: 7%;
        line-height: 22vmin;
        text-align: center;
        vertical-align: center;
        font-size: 14vmin;
        font-weight: 500;
    }

    #submit {
        width: 88vmin;
        height: 12vmin;
        border-radius: 0.8vmin;
        margin-top: 12px;
        padding-top: 3vmin;
        font-size: 7vmin;
    }
    
    #current-word {
        font-size: 8vmin;
        height: 12vmin;
        width: 88vmin;
        margin-top: 12px;
    }
    
    #sidebar {
        margin:  20px;
        margin-bottom: 6px;
        padding: 1vmin;       
    }
    
    #timer, #score, #replay{
        width: 88vmin;
        height: 12vmin;
        padding-top: 4vmin;
        font-size: 7vmin;  
        margin: 6px; 
    }

    #replay {
        margin-bottom: 20px;
    }

    #message {
        font-size: 5vmin;
        margin: 6px;
        height: 20vmin;
    }

    ul {
        height: 49vmin;
        padding-bottom: 0;
        margin-bottom: 0;
    }


}