* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 12vmin);
    grid-template-rows: repeat(4, 12vmin);
    gap: 0vmin;   
}

.letters {
    width: 12vmin;
    height: 12vmin;
    gap: 0vmin;
    border: 2px solid gray;
    line-height: 12vmin;
    text-align: center;
    vertical-align: center;
    font-size: 8vmin;
}

#replay {
    visibility: visible;
}
